html * {
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: 300; }
  @media only screen and (min-width: 600px) {
    h1 {
      font-size: 3rem; } }
  @media only screen and (min-width: 980px) {
    h1 {
      font-size: 5rem; } }

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 2px;
  font-weight: 300; }
  @media only screen and (min-width: 600px) {
    h2 {
      font-size: 5rem; } }

h3 {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.6rem;
  line-height: 2rem; }
  @media only screen and (min-width: 600px) {
    h3 {
      font-size: 1.8rem;
      line-height: 2rem; } }

h4 {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8em;
  font-weight: 300; }
  @media only screen and (min-width: 980px) {
    h4 {
      font-size: 1.8rem;
      line-height: 2rem; } }

h5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 2px;
  line-height: 1.6rem;
  font-weight: 300; }

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 2.4rem;
  font-weight: 300; }
  @media only screen and (min-width: 600px) {
    p {
      font-size: 2.4rem;
      line-height: 1.5; } }

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  background-color: #333; }

a {
  text-decoration: none; }

#headline-wrapper {
  width: 100%; }

.cd-intro {
  height: 500px;
  margin: auto;
  max-width: 29rem; }
  @media only screen and (min-width: 600px) {
    .cd-intro {
      max-width: 60rem; } }
  @media only screen and (min-width: 980px) {
    .cd-intro {
      max-width: 98rem;
      height: 600px; } }
  .cd-intro h4 {
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    position: relative;
    padding-bottom: 80px; }
  .cd-intro h5:last-child {
    padding-top: 5px;
    color: #CCCCCC;
    white-space: nowrap; }
    .cd-intro h5:last-child a {
      color: #F98B76; }
  .cd-intro .cd-headline {
    padding-top: 80px; }
    @media only screen and (min-width: 980px) {
      .cd-intro .cd-headline {
        padding-top: 160px; } }

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left; }
  .cd-words-wrapper p {
    display: inline-block;
    position: absolute;
    white-space: pre;
    left: 0;
    top: 0;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 1.2;
    font-weight: 300; }
    @media only screen and (min-width: 600px) {
      .cd-words-wrapper p {
        font-size: 3rem;
        font-weight: 300; } }
    @media only screen and (min-width: 980px) {
      .cd-words-wrapper p {
        font-size: 5rem; } }
    .cd-words-wrapper p.is-visible {
      position: relative; }
  .no-js .cd-words-wrapper b {
    opacity: 0; }
    .no-js .cd-words-wrapper b.is-visible {
      opacity: 1; }

.timeline-event {
  width: 100%;
  background-color: red; }
  @media only screen and (min-width: 980px) {
    .timeline-event {
      height: 760px;
      background-image: url("img/event-rdc/medium.png");
      background-repeat: no-repeat;
      background-position: 200% 50%; } }
  @media only screen and (min-width: 1080px) {
    .timeline-event {
      background-position: 150% 50%; } }
  @media only screen and (min-width: 1280px) {
    .timeline-event {
      background-position: 100% 50%; } }
  @media only screen and (min-width: 1650px) {
    .timeline-event {
      background-position: 80% 50%; } }
  .timeline-event .event-wrapper {
    margin: auto;
    max-width: 29rem; }
    @media only screen and (min-width: 600px) {
      .timeline-event .event-wrapper {
        max-width: 60rem; } }
    @media only screen and (min-width: 980px) {
      .timeline-event .event-wrapper {
        max-width: 98rem; } }
    .timeline-event .event-wrapper h3 {
      padding-top: 30px; }
      @media only screen and (min-width: 980px) {
        .timeline-event .event-wrapper h3 {
          padding-top: 15rem; } }
    .timeline-event .event-wrapper .headline-container {
      margin-top: 4px;
      height: 60px;
      max-width: 29rem;
      background-color: grey;
      box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.36); }
      @media only screen and (min-width: 600px) {
        .timeline-event .event-wrapper .headline-container {
          margin-top: 10px;
          height: 100px;
          max-width: 60rem;
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5); } }
      .timeline-event .event-wrapper .headline-container h2 {
        padding-top: 18px;
        margin-left: 20px; }
        @media only screen and (min-width: 600px) {
          .timeline-event .event-wrapper .headline-container h2 {
            padding-top: 20px; } }
    .timeline-event .event-wrapper p {
      padding-top: 30px;
      max-width: 100%; }
      @media only screen and (min-width: 600px) {
        .timeline-event .event-wrapper p {
          padding-top: 40px;
          max-width: 54rem; } }
      @media only screen and (min-width: 980px) {
        .timeline-event .event-wrapper p {
          padding-top: 60px;
          max-width: 40rem; } }
    .timeline-event .event-wrapper pre {
      padding-top: 20px; }
      @media only screen and (min-width: 980px) {
        .timeline-event .event-wrapper pre {
          padding-top: 30px; } }
      .timeline-event .event-wrapper pre a {
        text-transform: uppercase;
        font-family: "Rajdhani", sans-serif;
        font-size: 2rem;
        line-height: 2.4rem;
        font-weight: 300; }
        @media only screen and (min-width: 980px) {
          .timeline-event .event-wrapper pre a {
            font-size: 2.4rem;
            line-height: 3rem; } }
  .timeline-event .image-wrapper img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: auto; }
    @media only screen and (min-width: 600px) {
      .timeline-event .image-wrapper img {
        max-width: 980px; } }
    @media only screen and (min-width: 980px) {
      .timeline-event .image-wrapper img {
        visibility: hidden; } }

/* -------------------------------- 

xrotate-2 

-------------------------------- */
.cd-headline.rotate-2 .cd-words-wrapper {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px; }
.cd-headline.rotate-2 i, .cd-headline.rotate-2 div, .cd-headline.rotate-2 em {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
.cd-headline.rotate-2 p {
  opacity: 0; }
.cd-headline.rotate-2 i, .cd-headline.rotate-2 div {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-20px) rotateX(90deg);
  -moz-transform: translateZ(-20px) rotateX(90deg);
  -ms-transform: translateZ(-20px) rotateX(90deg);
  -o-transform: translateZ(-20px) rotateX(90deg);
  transform: translateZ(-20px) rotateX(90deg);
  opacity: 0; }
  .is-visible .cd-headline.rotate-2 i, .is-visible .cd-headline.rotate-2 div {
    opacity: 1; }
  .cd-headline.rotate-2 i.in, .cd-headline.rotate-2 div.in {
    -webkit-animation: cd-rotate-2-in 0.4s forwards;
    -moz-animation: cd-rotate-2-in 0.4s forwards;
    animation: cd-rotate-2-in 0.4s forwards; }
  .cd-headline.rotate-2 i.out, .cd-headline.rotate-2 div.out {
    -webkit-animation: cd-rotate-2-out 0.4s forwards;
    -moz-animation: cd-rotate-2-out 0.4s forwards;
    animation: cd-rotate-2-out 0.4s forwards; }
.cd-headline.rotate-2 em {
  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  -o-transform: translateZ(20px);
  transform: translateZ(20px);
  font-style: normal; }
.cd-headline.rotate-2 span {
  text-transform: uppercase; }

.no-csstransitions .cd-headline.rotate-2 i {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 0; }
  .no-csstransitions .cd-headline.rotate-2 i em {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

.no-csstransitions .cd-headline.rotate-2 .is-visible i {
  opacity: 1; }

@-webkit-keyframes cd-rotate-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg); }
  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg); } }
@-moz-keyframes cd-rotate-2-in {
  0% {
    opacity: 0;
    -moz-transform: translateZ(-20px) rotateX(90deg); }
  60% {
    opacity: 1;
    -moz-transform: translateZ(-20px) rotateX(-10deg); }
  100% {
    opacity: 1;
    -moz-transform: translateZ(-20px) rotateX(0deg); } }
@keyframes cd-rotate-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    -moz-transform: translateZ(-20px) rotateX(90deg);
    -ms-transform: translateZ(-20px) rotateX(90deg);
    -o-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg); }
  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg);
    -moz-transform: translateZ(-20px) rotateX(-10deg);
    -ms-transform: translateZ(-20px) rotateX(-10deg);
    -o-transform: translateZ(-20px) rotateX(-10deg);
    transform: translateZ(-20px) rotateX(-10deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg);
    -moz-transform: translateZ(-20px) rotateX(0deg);
    -ms-transform: translateZ(-20px) rotateX(0deg);
    -o-transform: translateZ(-20px) rotateX(0deg);
    transform: translateZ(-20px) rotateX(0deg); } }
@-webkit-keyframes cd-rotate-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0); }
  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg); }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg); } }
@-moz-keyframes cd-rotate-2-out {
  0% {
    opacity: 1;
    -moz-transform: translateZ(-20px) rotateX(0); }
  60% {
    opacity: 0;
    -moz-transform: translateZ(-20px) rotateX(-100deg); }
  100% {
    opacity: 0;
    -moz-transform: translateZ(-20px) rotateX(-90deg); } }
@keyframes cd-rotate-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0);
    -moz-transform: translateZ(-20px) rotateX(0);
    -ms-transform: translateZ(-20px) rotateX(0);
    -o-transform: translateZ(-20px) rotateX(0);
    transform: translateZ(-20px) rotateX(0); }
  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg);
    -moz-transform: translateZ(-20px) rotateX(-100deg);
    -ms-transform: translateZ(-20px) rotateX(-100deg);
    -o-transform: translateZ(-20px) rotateX(-100deg);
    transform: translateZ(-20px) rotateX(-100deg); }
  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg);
    -moz-transform: translateZ(-20px) rotateX(-90deg);
    -ms-transform: translateZ(-20px) rotateX(-90deg);
    -o-transform: translateZ(-20px) rotateX(-90deg);
    transform: translateZ(-20px) rotateX(-90deg); } }
