@import 'bourbon';
@import '../partials/variables'; // colors, fonts etc...
@import '../partials/mixins'; // custom mixins
@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing(border-box);
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font;
	}
	color: $color-white;
	background-color: $color-dark;
}

a {
	text-decoration: none;
}

#headline-wrapper {
	width: 100%;
}

.cd-intro {
	width: 90%;
	height: 500px;
	margin: auto;
	
	@include MQ(M) {
		max-width: 680px;
	}

	@include MQ(L) {
		max-width: 980px;
		height: 600px;
	}
	
	
	h4 {
		text-transform: uppercase;
		letter-spacing: 0.6rem;
		position: relative;
		padding-bottom: 80px;
	}
	
	h5:last-child {
		padding-top: 5px;
		color: $color-light-grey;
		white-space: nowrap;
		
		a {
			color: $color-event-tracks;
		}
	}
	
	.cd-headline {
		padding-top: 80px;
		
		@include MQ(M) {
			//max-width: 680px; // TODO Check
		}

		@include MQ(L) {
			padding-top: 160px;
		}
	}
}


.cd-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left;
	
	p {
		display: inline-block;
		position: absolute;
		white-space: pre;
		left: 0;
		top: 0;
		text-transform: uppercase;
		
		font-family: $primary-font;
		color: $color-white;
		font-size: 2rem;
		letter-spacing: 2px;
		line-height: 1.2;
		font-weight: 300;
		
		@include MQ(M) {
			font-size: 3rem; // TODO ?
			font-weight: 300;
		}

		@include MQ(L) {
			font-size: 5rem; // TODO ?
		}
		

		&.is-visible {
			position: relative;
		}
	}

	.no-js & b {
		opacity: 0;
		
		&.is-visible {
			opacity: 1;
		}

	}
}






.timeline-event {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: $color-event-rdc;
	
	@include MQ(L) {
		height: 600px;
		@include background-image(url(img/event-rdc/medium.png));
		background-repeat: no-repeat;
		background-position: 100% 50%;	
	}
	
	@include MQ(XL) {
		background-position: 70% 50%;
	}
	
	.section-wrapper {
		width: 90%;
		max-width: 980px;
		margin: auto;
		padding-top: 30px;
		
		@include MQ(L) {
			padding-top: 100px;
		}
		
		h2 {
			span {
				color: $color-light-grey;
			}
		}
		
		.headline-container {
			height: 60px;
			width: 288px;
			background-color: $color-white;
			box-shadow: 0px 10px 10px 0px rgba($color-black,0.24);
			
			margin-top: 8px;
			padding-top: 18px;
			
			@include MQ(M) {
				box-shadow: 0px 14px 14px 0px rgba($color-black,0.30);
				width: 458px;
				height: 80px;
				padding-top: 22px;
			}
	
			@include MQ(L) {
				box-shadow: 0px 18px 18px 0px rgba($color-black,0.36);
				width: 578px;
				height: 100px;
				padding-top: 24px;
			}
			
			h1 {
				color: $color-event-rdc;
				margin-left: 20px;
			}
		}
		
		
		p {
			margin-top: 30px;
			margin-bottom: 14px;
			
			@include MQ(M) {
				max-width: 680px;
				margin-bottom: 24px;
			}
	
			@include MQ(L) {
				width: 360px;
				margin-top: 40px;
				margin-bottom: 34px;
			}
		}
		
		h3 {
			padding-bottom: 10px;
			
			a {
				color: $color-light-grey;
			}
			

			a:visited {
			    color: $color-light-grey;
			}

			a:hover {
			    color: $color-white;
				//letter-spacing: 0.4px;
				
				@include transition(all 1200ms ease-out);
			}

			a:active {
			    color: $color-light-grey;
			}
			
		}
			
	}
	
	img {
		width: 100%;
		background-repeat: no-repeat;
		background-position: 50% 0;
		
		@include MQ(M) {
			max-width: 780px;
		}

		@include MQ(L) {
			visibility: hidden;
		}

	}
}






#event-guidelines {
	background-color: $color-white;
	
	@include MQ(L) {
		@include background-image(url(img/event-guidelines/medium.png));
	}
	
	h2 {
		color: $color-grey;
		
		span {
			color: $color-light-grey;
		}
	}
	
	.headline-container {
		background-color: $color-event-guidelines;
		width: 282px;
		//288458578
		
		@include MQ(M) {
			width: 436px;
		}

		@include MQ(L) {
			width: 570px;
		}
		
		h1 {
			color: $color-white;
		}
	}
	
	p {
		color: $color-black;
		@include MQ(L) {
			width: 360px;
		}
	}
	
	a {
		color: $color-event-guidelines;
	}
	
	a:hover {
		color: $color-event-tracks;
	}
}








#event-tracks {
	background-color: $color-white;
	/* Rectangle 1: */
	background-image: linear-gradient(-153deg, #416C7B 0%, #5A3A46 95%);
	background-image: -webkit-linear-gradient(-153deg, #416C7B 0%, #5A3A46 95%);
	@include linear-gradient(-153deg, #416C7B 0%, #5A3A46 95%);
	
	h2 {
		color: $color-white;
		
		span {
			color: $color-light-grey;
		}
	}
	
	@include MQ(L) {
		height: 600px;
		@include linear-gradient(-153deg, #416C7B 0%, #5A3A46 95%);
		@include background-image(url(img/event-tracks/medium.png));
	}
	
	.headline-container {
		background-color: $color-event-tracks;
		width: 282px;
		//288458578
		
		@include MQ(M) {
			width: 436px;
		}

		@include MQ(L) {
			width: 570px;
		}
		
		h1 {
			color: $color-white;
		}
	}
	
	p {
		color: $color-white;
	}
	
	a {
		color: $color-event-tracks;
	}
	
	a:hover {
		color: $color-event-guidelines;
	}
}







#event-managing {
	background-color: $color-white;
	/* Rectangle 1: */
	//background-image: linear-gradient(-153deg, #416C7B 0%, #5A3A46 95%);
	
	h2 {
		color: $color-black;
		
		span {
			color: $color-light-grey;
		}
	}
	
	@include MQ(L) {
		//background-color: $color-white;
		@include background-image(url(img/event-managing/medium.png));
	}
	
	.headline-container {
		background-color: $color-event-managing;
		width: 282px;
		//288458578
		
		@include MQ(M) {
			width: 436px;
		}

		@include MQ(L) {
			width: 570px;
		}
		
		h1 {
			color: $color-white;
		}
	}
	
	p {
		color: $color-black;
		@include MQ(L) {
			width: 320px;
		}
	}
	
	a {
		color: $color-event-managing;
	}
	
	a:hover {
		color: $color-event-rdc;
	}
}




#event-collection {
	background-color: #D3D3D3;
	
	h2 {
		color: $color-black;
		
		span {
			color: $color-grey;
		}
	}
	
	@include MQ(L) {
		//background-color: $color-white;
		@include background-image(url(img/event-collection/medium.png));
	}
	
	.headline-container {
		background-color: $color-white;
		width: 284px;
		//288458578
		
		@include MQ(M) {
			width: 474px;
		}

		@include MQ(L) {
			width: 630px;
		}
		
		h1 {
			color: $color-black;
			margin-left: 10px;
			
			@include MQ(M) {
				margin-left: 20px;
			}
		}
	}
	
	p {
		color: $color-black;
	}
	
	a {
		color: $color-event-rdc;
	}
	
	a:hover {
		color: $color-event-managing;
	}
}






#event-festival {
	background-color: $color-event-festival;
	
	h2 {
		color: $color-black;
		
		span {
			color: $color-grey;
		}
	}
	
	@include MQ(L) {
		//background-color: $color-white;
		@include background-image(url(img/event-festival/medium.png));
	}
	
	.headline-container {
		background-color: $color-white;
		width: 288px;
		//288458578
		
		@include MQ(M) {
			width: 500px;
		}

		@include MQ(L) {
			width: 680px;
		}
		
		h1 {
			color: $color-black;
			margin-left: 10px;
			letter-spacing: 1px;
			
			@include MQ(M) {
				margin-left: 20px;
				letter-spacing: 2px;
			}
		}
	}
	
	p {
		color: $color-black;
		@include MQ(L) {
			width: 420px;
		}
	}
	
	a {
		color: $color-white;
	}
	
	a:hover {
		color: $color-event-managing;
	}
}




/* -------------------------------- 

xrotate-2 

-------------------------------- */

.cd-headline.rotate-2 {

	.cd-words-wrapper {
		@include perspective(300px);
	}

	i, div, em {
		display: inline-block;
		@include backface-visibility(hidden);
	}

	p {
		opacity: 0;
	}

	i, div {
		@include transform-style(preserve-3d);
		@include transform(translateZ(-20px) rotateX(90deg));
		opacity: 0;

		.is-visible & {
			opacity: 1;
		}

		&.in {
			@include animation(cd-rotate-2-in .4s forwards);
		}

		&.out {
			@include animation(cd-rotate-2-out .4s forwards);
		}
	}

	em {
		@include transform(translateZ(20px));
		font-style: normal;
	}

	span {
		text-transform: uppercase;
	}
	
}



///////// ANIMATION BLOCK

.no-csstransitions .cd-headline.rotate-2 i {
	@include transform(rotateX(0deg));
	opacity: 0;

	em {
		@include transform(scale(1));
	}
}

.no-csstransitions .cd-headline.rotate-2 .is-visible i {
	opacity: 1;
}

@include keyframes(cd-rotate-2-in) {
	0% {
		opacity: 0;
		@include transform(translateZ(-20px) rotateX(90deg));
	}

	60% {
		opacity: 1;
		@include transform(translateZ(-20px) rotateX(-10deg));
	}

	100% {
		opacity: 1;
		@include transform(translateZ(-20px) rotateX(0deg));
	}
}

@include keyframes(cd-rotate-2-out) {
	0% {
		opacity: 1;
		@include transform(translateZ(-20px) rotateX(0));
	}

	60% {
		opacity: 0;
		@include transform(translateZ(-20px) rotateX(-100deg));
	}

	100% {
		opacity: 0;
		@include transform(translateZ(-20px) rotateX(-90deg));
	}
}

