// @import 'bourbon';
@import '../partials/variables';
@import '../partials/mixins';
@import '../partials/layout';

/* --------------------------------

Primary style

-------------------------------- */

// *, *::after, *::before {
	// @include box-sizing(border-box);
// }

html {
	font-size: 62.5%;
	font-family: $secondary-font;
}

a {
	color: $color-black;
	letter-spacing: 0px;
	font-weight: 600;
	// text-decoration: none;

	h3 {
		text-decoration: none !important;
	}
}

a:hover {
	color: $color-event-inventory;
	text-decoration: underline;
}





h1 {
	font-family: $secondary-font;
	font-weight: 600;

	$h1-font-size-map: (576px: 28px, 1000px: 40px, 1600px: 56px);
  @include poly-fluid-sizing('font-size', $h1-font-size-map);

	$h1-line-height-map: (576px: 36px, 1000px: 56px, 1600px: 68px);
  @include poly-fluid-sizing('line-height', $h1-line-height-map);

	$h1-padding-top-map: (576px: 48px, 1000px: 80px, 1600px: 100px);
  @include poly-fluid-sizing('padding-top', $h1-padding-top-map);
}

h3 {
	font-family: $secondary-font;
	font-weight: 700;
	opacity: 0.6;
	text-transform: uppercase;
	color: $color-grey;
	text-decoration: none;

	$h1-font-size-map: (576px: 14px, 1000px: 16px, 1600px: 18px);
  	@include poly-fluid-sizing('font-size', $h1-font-size-map);

	$h1-line-height-map: (576px: 20px, 1000px: 23px, 1600px: 28px);
  	@include poly-fluid-sizing('line-height', $h1-line-height-map);

	$p-letter-spacing-map: (576px: 0.8px, 1000px: 1.0px, 1600px: 1.6px);
 	@include poly-fluid-sizing('letter-spacing', $p-letter-spacing-map);

	// $h1-padding-top-map: (576px: 10px, 1000px: 11px, 1600px: 12px);
  // @include poly-fluid-sizing('padding-top', $h1-padding-top-map);
	//
	// $h1-padding-bottom-map: (576px: 16px, 1000px: 20px, 1600px: 24px);
  // @include poly-fluid-sizing('padding-bottom', $h1-padding-bottom-map);
}



p {
	font-family: $primary-font;

  $p-font-size-map: (576px: 20px, 1000px: 24px, 1600px: 24px);
  @include poly-fluid-sizing('font-size', $p-font-size-map);

	$p-line-height-map: (576px: 24px, 1000px: 29px, 1600px: 36px);
  @include poly-fluid-sizing('line-height', $p-line-height-map);

	$p-letter-spacing-map: (576px: 0.1px, 1000px: 0.2px, 1600px: 0.4px);
  @include poly-fluid-sizing('letter-spacing', $p-letter-spacing-map);

	@include MQ(L) {
		//font-weight: 300;
	}

  color: $color-black;
}

body {
  background-color: #FFF;

	$h1-padding-bottom-map: (576px: 60px, 1000px: 100px, 1600px: 120px);
    @include poly-fluid-sizing('padding-bottom', $h1-padding-bottom-map);
}


.main-column {
	background-color: "yellow";
	height: 100%;
	margin: auto;
	max-width: 680px;

	width: 80%;

	@include MQ(S) {
		width: 68%;
	}

	@include MQ(M) {
		width: 50%;
	}

}

#left-column {

	p {
		padding-top: 26px;
		// $p-margin: (576px: 24px, 1000px: 36px, 1600px: 48px);
		// @include poly-fluid-sizing('padding-top', $p-margin);
	}

	#my-name {
		$p-margin: (576px: 16px, 1000px: 20px, 1600px: 24px);
  		@include poly-fluid-sizing('padding-top', $p-margin);
		@include poly-fluid-sizing('padding-bottom', $p-margin);
	}
	
	h1, h3 {
		text-align: center;
	}
}

#right-column {
	h3 {
		$h1-padding-bottom-map: (576px: 32px, 1000px: 48px, 1600px: 64px);
	  	@include poly-fluid-sizing('padding-top', $h1-padding-bottom-map);
	}

	p {
		$p-margin: (576px: 2px, 1000px: 3px, 1600px: 4px);
		@include poly-fluid-sizing('padding-top', $p-margin);
	}

	#work-experience {
		p {
			color: $color-black;
			$p-margin: (576px: 12px, 1000px: 16px, 1600px: 24px);
	  	@include poly-fluid-sizing('padding-bottom', $p-margin);
		}

		strong {
			color: $color-grey;
		}
	}
}
