@import 'bourbon';
@import '../partials/variables'; // colors, fonts etc...
@import '../partials/mixins'; // custom mixins
@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing(border-box);
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss // TODO
	}
	color: $color-white;  // TODO
	background-color: $color-dark;  // TODO
}

a {
	text-decoration: none;
}

i {
	font-style: normal;
}

//.cd-title {
//	position: relative;
//	height: 160px;
//	line-height: 230px;
//	text-align: center;
//
//	h1 {
//		font-size: 2.4rem;
//		font-weight: 700;
//	}
//
//	@include MQ(M) {
//		line-height: 250px;
//	}
//
//	@include MQ(L) {
//		height: 200px;
//		line-height: 300px;
//
//		h1 {
//			font-size: 3rem;
//		}
//	}
//}

.cd-intro {
	width: 90%;
	max-width: $M;
	text-align: center;
}

.cd-intro {
	margin: 4em auto;

	@include MQ(M) {
		margin: 5em auto;
	}

	@include MQ(L) {
		margin: 6em auto;
	}
}

.cd-headline {
	font-size: 3rem;
	line-height: 1.2;

	@include MQ(M) {
		font-size: 4.4rem;
		font-weight: 300;
	}

	@include MQ(L) {
		font-size: 6rem;
	}
}

.cd-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left;
	
	p {
		display: inline-block;
		position: absolute;
		white-space: nowrap;
		left: 0;
		top: 0;
		///////
		text-transform: uppercase;
		

		&.is-visible {
			position: relative;
		}
	}

	.no-js & b {
		opacity: 0;
		
		&.is-visible {
			opacity: 1;
		}

	}
}


/* -------------------------------- 

xrotate-2 

-------------------------------- */

.cd-headline.rotate-2 {

	.cd-words-wrapper {
		@include perspective(300px);
	}

	i, em {
		display: inline-block;
		@include backface-visibility(hidden);
	}

	p {
		opacity: 0;
	}

	i {
		@include transform-style(preserve-3d);
		@include transform(translateZ(-20px) rotateX(90deg));
		opacity: 0;

		.is-visible & {
			opacity: 1;
		}

		&.in {
			@include animation(cd-rotate-2-in .4s forwards);
		}

		&.out {
			@include animation(cd-rotate-2-out .4s forwards);
		}
	}

	em {
		@include transform(translateZ(20px));
	}
	
	span {
		text-transform: uppercase;
		font-size: 5rem;
		letter-spacing: 2px;
		line-height: 6rem;
	}
}

.no-csstransitions .cd-headline.rotate-2 i {
	@include transform(rotateX(0deg));
	opacity: 0;

	em {
		@include transform(scale(1));
	}
}

.no-csstransitions .cd-headline.rotate-2 .is-visible i {
	opacity: 1;
}

@include keyframes(cd-rotate-2-in) {
	0% {
		opacity: 0;
		@include transform(translateZ(-20px) rotateX(90deg));
	}

	60% {
		opacity: 1;
		@include transform(translateZ(-20px) rotateX(-10deg));
	}

	100% {
		opacity: 1;
		@include transform(translateZ(-20px) rotateX(0deg));
	}
}

@include keyframes(cd-rotate-2-out) {
	0% {
		opacity: 1;
		@include transform(translateZ(-20px) rotateX(0));
	}

	60% {
		opacity: 0;
		@include transform(translateZ(-20px) rotateX(-100deg));
	}

	100% {
		opacity: 0;
		@include transform(translateZ(-20px) rotateX(-90deg));
	}
}

