// breakpoints
   
$S:     480px;   
$M:     600px;     
$L:     980px; 
$E1: 	1080px;   
$E2: 	1280px;  
$E3: 	1650px;  

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
  @else if $canvas == E1 {
   @media only screen and (min-width: $E1) { @content; } 
  }
  @else if $canvas == E2 {
   @media only screen and (min-width: $E2) { @content; } 
  }
  @else if $canvas == E3 {
   @media only screen and (min-width: $E3) { @content; } 
  }
}

