@import '../partials/layout';

// colors

$color-black: #000;
$color-dark: #333; // Tower Gray
$color-grey: #444; // Bondi Blue
$color-light-grey: #CCCCCC;
$color-white: #fff; // Cod Gray


$color-event-tracks: #F98B76;
$color-event-rdc: #248EEC;
$color-event-guidelines: #50E3C2;
$color-event-managing: #B375BD;
$color-event-festival: #F5BF52;




// fonts 
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Rajdhani', sans-serif;

html * {
	//-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h1 {
	
	font-family: $primary-font;
	font-size: 2rem;
	letter-spacing: 2px;
	line-height: 1.2;
	font-weight: 300;
	
	@include MQ(M) {
		font-size: 3rem;
	}

	@include MQ(L) {
		font-size: 5rem;
	}
}


h2 {
	font-family: $primary-font;
	font-size: 2rem;
	line-height: 1.2;
	letter-spacing: 2px;
	font-weight: 300;
	
	@include MQ(M) {
		font-size: 5rem;
	}
}


h3 {
	font-family: $secondary-font;
	font-size: 1.6rem;
	line-height: 2rem;
	
	@include MQ(M) {
		font-size: 1.8rem;
		line-height: 2rem;
	}
}


h4 {
	font-family: $secondary-font;
	font-size: 1.4rem;
	line-height: 1.8em;
	font-weight: 300;
	
	@include MQ(L) {
		font-size: 1.8rem;
		line-height: 2rem;
	}
}


h5 {
	font-family: $primary-font;
	font-size: 1.4rem;
	letter-spacing: 2px;
	line-height: 1.6rem;
	font-weight: 300;
}


p {
	
	font-family: $primary-font;
	font-size: 2rem;
	letter-spacing: 1px;
	line-height: 2.4rem;
	font-weight: 300;
	
	@include MQ(M) {
		font-size: 2.4rem;
		line-height: 1.5;
	}

}

